<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistem Informasi Apotek</title>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/login.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body>

	<div class="container">

		<div class="row" id="kepala">
			<div class="col-md-12 text-center">
					<img src="images/banner.png" alt="logo">
			</div>
		</div>

		<div class="row" id="badan">  
			<div class="col-md-12">
			    <div class="container">
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<div class="panel panel-default">
								<div class="panel-heading">
									<strong> Login SIATEK</strong>
								</div>
								<div class="panel-body">
									<form role="form" action="admin/berandaadmin.html" method="POST">
										<fieldset>
											<div class="row">
												<div class="col-md-10  col-md-offset-1 ">
													<div class="form-group">
														<div class="input-group">
															<span class="input-group-addon">
																<i class="glyphicon glyphicon-user"></i>
															</span> 
															<input class="form-control" placeholder="Username" name="loginname" type="text" autofocus>
														</div>
													</div>
													<div class="form-group">
														<div class="input-group">
															<span class="input-group-addon">
																<i class="glyphicon glyphicon-lock"></i>
															</span>
															<input class="form-control" placeholder="Password" name="password" type="password" value="">
														</div>
													</div>
													<div class="form-group">
														<input type="submit" class="btn btn-lg btn-primary btn-block" value="Login">
													</div>
												</div>
											</div>
										</fieldset>
									</form>
								</div>
			                </div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" id="kaki">
			<div class="col-md-12">
					<address>
					  <strong>Apotek Universitas Tanjungpura</strong><br>
					  Jl. Prof. Dr. H. Hadari Nawawi, Pontianak Tenggara, Bansir Laut<br>
					  Kota Pontianak, Kalimantan Barat 781243<br>
					  <abbr title="Phone">Telepon:</abbr> (0561) 739630
					  <br>
					  <br>
					  <small>Copyright Kelompok 6</small>
					</address>
			</div>
		</div>

	</div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

</body>
</html>