<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistem Informasi Apotek</title>

    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/kustom.css" rel="stylesheet">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="container-fluid">
        
        
        <div class="row" id="kepala">
            <div class="col-md-12 text-center">
                <img src="../images/banner.png" alt="">
            </div>
        </div>

        <div class="row" id="navbar">
            <div class="col-md-4">
                <marquee width=200 scrolldelay=200><p id="tanggal"></p></marquee>
            </div>
            <div class="col-md-8 text-right">
                <a href="../index.html" class="btn btn-default btn-sm" role="button" id="logout">Logout</a>
            </div>
        </div>

        <div class="row row-eq-height">
            <div id="sidebar" class="col-md-2">
            <ul class="sidebar-nav">
                <li>
                    <a href="berandakaryawan.html">Beranda</a>
                </li>
                <li>
                    <a href="barangkaryawan.html">List Barang</a>
                </li>
                <li>
                    <a href="inputbarang.html">Input Barang</a>
                </li>
                <li>
                    <a href="stokkaryawan.html">List Stok Barang</a>
                </li>
                <li>
                    <a href="suplaikaryawan.html">List Supplai</a>
                </li>
            </ul>              
            </div>

            <div id="badan" class="col-md-10">
                <h1 class="page-header">Input Data Supplai</h1>
                <div class="col-md-6">
                  
                <div class="form-group">
                    <label for="namabarang">Nama Barang</label>
                    <input type="text" class="form-control" id="namabarang" placeholder="Nama Barang">
                </div>
                <div class="form-group">
                    <label for="kodebarang">Kode Barang</label>
                    <input type="text" class="form-control" id="kode" placeholder="Kode Barang">
                </div>
                <div class="form-group">
                    <label for="namabarang">Jenis Barang</label>
                    <select name="namabarang" class="form-control">
                      <option value="1">Alat</option>
                      <option value="2">Obat</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="idsuplier">Id Supplier</label>
                    <input type="text" class="form-control" id="kode" placeholder="Id Supplier">
                </div>
                <div class="form-group">
                    <label for="tanggal">Tanggal</label>
                    <input type="date" class="form-control" id="kode">
                </div>
                <div class="form-group">
                    <label for="jumlah">Jumlah Barang</label>
                    <input type="number" class="form-control" id="kode" placeholder="Jumlah">
                </div>
                <br>
                <div class="text-right">
                   <a href="suplaikaryawan.html" type="button" class="btn btn-primary">Simpan</a>
                </div>
                <br>
                </div>
            </div>
        </div>

    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script>
    var d = new Date();
    document.getElementById("tanggal").innerHTML = d.toDateString();

    $(function(){
    $('a#logout').click(function(){
            if(confirm('Apakah anda yakin ingin logout?')) {
                return true;
            }

            return false;
        });
    });

    $(function(){
    $('button#hapus').click(function(){
            if(confirm('Apakah anda yakin ingin menghapus barang ?')) {
                return true;
            }

            return false;
        });
    });



    </script>
</body>
</html>