html, body{
    height: 100%;
}

#kepala{
	background-color: #26A69A;
}

#kepala img{
	height: 150px;
}

#navbar{
	height: 40px;
	background-color: #80CBC4;
	padding: 5px;
}

#sidebar{
    background-color: #E0F2F1;

}

#badan{
    background-color: white;
    padding-left: 30px;
}

#badan, #sidebar{
    min-height: 500px;
}

#badan table{
    line-height: 30px;
}

.sidebar-nav{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #212121;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #00BFA5;
    background: rgba(255,255,255,0.5);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
} 

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
