<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<title>Sistem Informasi Apotek</title>

    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/kustom.css" rel="stylesheet">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="container-fluid">
        
        
        <div class="row" id="kepala">
            <div class="col-md-12 text-center">
                <img src="../images/banner.png" alt="">
            </div>
        </div>

        <div class="row" id="navbar">
            <div class="col-md-4">
                <marquee width=200 scrolldelay=200><p id="tanggal"></p></marquee>
            </div>
            <div class="col-md-8 text-right">
                <a href="../index.html" class="btn btn-default btn-sm" role="button" id="logout">Logout</a>
            </div>
        </div>

        <div class="row row-eq-height">
            <div id="sidebar" class="col-md-2">
            <ul class="sidebar-nav">
                <li>
                    <a href="berandakasir.html">Beranda</a>
                </li>
                <li>
                    <a href="barangkasir.html">List Barang</a>
                </li>
                <li>
                    <a href="stokkasir.html">List Stok Barang</a>
                </li>
                <li>
                    <a href="penjualan.html">List Penjualan</a>
                </li>
                <li>
                    <a href="inputpenjualan.html">Input Penjualan</a>
                </li>
            </ul>
                                
            </div>

            <div id="badan" class="col-md-10">
                <h1 class="page-header">Selamat Datang di SIATEK</h1>
                    <table>
                         <tr>
                             <td>Nama </td>
                             <td>: Muammar</td>
                         </tr>
                         <tr>
                             <td>No. Telepon</td>
                             <td>: 081212121213</td>
                         </tr>
                         <tr>
                             <td>User Id </td>
                             <td>: KS001</td>
                         </tr>
                         <tr>
                             <td>Jabatan </td>
                             <td>: Kasir</td>
                         </tr>
                         <tr>
                             <td>Jenis Kelamin </td>
                             <td>: Pria</td>
                         </tr>
                         <tr>
                             <td>Alamat </td>
                             <td>: Jl. Sepakat 1</td>
                         </tr>
                    </table>
            </div>
        </div>

    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script>
    var d = new Date();
    document.getElementById("tanggal").innerHTML = d.toDateString();

    $(function(){
    $('a#logout').click(function(){
            if(confirm('Apakah anda yakin ingin logout?')) {
                return true;
            }

            return false;
        });
    });



    </script>
</body>
</html>